{% extends 'base.html' %}

{% block title %}Gallery{% endblock %}

{% block content %}
<div id="gallery">
    <h2>Gallery</h2>
    <div class="gallery-grid">
        <div class="gallery-item">
            <img src="/static/imgs/headshot3.jpg" alt="Jonny Kibble">
            <p>Photo by Jonny Kibble</p>
        </div>
        <div class="gallery-item">
            <img src="/static/imgs/headshot.jpg" alt="Jonny Kibble">
            <p>Photo by Jonny Kibble</p>
        </div>
        <div class="gallery-item">
            <img src="/static/imgs/headshot2.jpg" alt="Jonny Kibble">
            <p>Photo by Jonny Kibble</p>
        </div>
        <div class="gallery-item">
            <img src="/static/imgs/panel.still001.jpg" alt="showreel 1">
            <p>Showreel 1</p>
        </div>
        <div class="gallery-item">
            <img src="/static/imgs/panel.still002.jpg" alt="Scene from Drip">
            <p>Drip scene</p>
        </div>
        <div class="gallery-item">
            <img src="/static/imgs/panel.still003.jpg" alt="Showreel">
            <p>Showreel 2</p>
        </div>
        <div class="gallery-item">
            <img src="/static/imgs/jackcarr.jpg" alt="Headshot">
            <p>Photo by Jack Carr</p>
        </div>
        <div class="gallery-item">
            <img src="/static/imgs/ryanpaultroy.jpg" alt="Headshot 2">
            <p>Photo by Ryan Paul Troy</p>
        </div>
    </div>
</div>



{% endblock %}