{% extends 'base.html' %}

{% block title %}Gallery{% endblock %}

{% block content %}
<section id="main">
    <div>
      <img src="/static/imgs/panel.still001.jpg" alt="Description of the image" id="main-img" />
  
      <div id="main-text">
          <h1>Robert Winterburn</h1>
        <h2>Actor | Performer | Voice Artist</h2>
        <h4>Featured on</h4>
        <p><strong>Drip</strong>: Directed by Conor Dwyer <br>
        <strong>Sober</strong>: Directed by Matthew Cooper</p>
        <br>
        <h3>Training</h3>
        <p><strong>Act Up North</strong>: 2023-Present</p>
      </div>
    </div>
  </section>
  

</section>

{% endblock %}
