{% extends 'base.html' %}

{% block title %}Gallery{% endblock %}

{% block content %}
<section id="main">
  <div id="fade-carousel">
    <img src="/static/imgs/panel.still001.jpg" alt="Headshot of Robert Winterburn" />
    <img src="/static/imgs/panel.still002.jpg" alt="Scene from Drip" />
    <img src="/static/imgs/panel.still003.jpg" alt="Scene from Sober" />
    <img src="/static/imgs/headshot.jpg" alt="Voiceover studio image" />
  </div>

  <div id="main-text">
    <h1>Robert Winterburn</h1>
    <h2>Actor | Performer | Voice Artist</h2>
    <h4>Featured on</h4>
    <p>
      <strong>Drip</strong>: Directed by Conor Dwyer <br>
      <strong>Sober</strong>: Directed by Matthew Cooper
    </p>
    <br>
    <h3>Training</h3>
    <p><strong>Act Up North</strong>: 2023-Present</p>
  </div>
</section>


{% endblock %}
