{% extends 'base.html' %}

{% block title %}Showreel{% endblock %}

{% block content %}
<section id="three-panels">
    <a href="https://drive.google.com/file/d/1BcuYgyGOmaOS99fPm0nRVcyMoJfmBhZg/view?usp=sharing" class="panel panel1" target="_blank">
        <h2>Act Up North Showreel 1</h2>
    </a>
    <a href="https://drive.google.com/file/d/1lYSYHvNLXFDtyvnbc6ZQQRA5MxNxzech/view?usp=sharing" class="panel panel2" target="_blank">
        <h2>Act Up North Showreel 2</h2>
    </a>
    <a href="https://drive.google.com/file/d/1jskPX2JL0As2EZkdgz5Ud0GjqJG2rUsB/view?usp=sharing" class="panel panel3" target="_blank">
        <h2>Drip (Release date tbc)</h2>
    </a>
</section>


{% endblock %}